* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14pt;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:teal;
  padding: 20px;
}

.header h1 {
  color: white;
  font-size: min(5rem, 15vw);
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  background-color: aliceblue;
}

.info {
  font-size: 2.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 3px solid black;
  height: min(500px, 90vw);
  width: min(500px, 90vw)
}

.grid .square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.grid .square:hover {
  background-color: rgb(240, 240, 240);
}

.grid .square:active {
  background-color: rgb(225, 225, 225);
}

.grid .square p {
  font-weight: bold;
  font-size: min(5rem, 15vw);
  user-select: none;
}

.button {
  background-color: teal;
  color: white;
  height: 60px;
  width: min(200px, 80vh);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(0, 116, 116);
}

.button:active {
  background-color: rgb(0, 104, 104);
}